h1 {
    text-align: center;
}
div img {
    width: 20%;
    display: inline-block;
    padding: 0px;
}
div {
    font-size: 0px;
}
.viewArea {
    width: 640px;
    margin: auto;
}
.smallGrid {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding-top: 2%;
}
.area1 {
    text-align: center;
    padding-left: 5%;
}
.inputArea {
    display: inline;
    text-align: center;
    padding-left: 10%;
}
.area3 {
    text-align: center;
}
.displayed-img {
    padding-top: 1%;
}

@media screen and (max-width: 640px){
    body {
        text-align: center;
    }
    .viewArea {
        width: 80%;
    }
    .smallGrid {
        display: inline-block;
    }
    .area1 {
        padding-left: 0%;
    }
    .inputArea {
        align-items: center;
        display: block;
        padding-left: 0%;
    }
    .area3 {
        text-align: center;
    }
    .displayed-img {
        padding-top: 1%;
        width: 100%;
    }
  }